:root {
    --body-color: #05000A;
    --sidebar-color: #fff;
    --primary-color: #9847b3;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #2b2b2b;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

html body {
    background-color: rgb(255, 117, 156);
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    height: 300px;
}

.paragraph {
    background-color: rgb(255, 117, 156);
    background-color: rgba(255, 117, 156, 0.2);
    height: 150px;
    width: 700px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(158, 7, 50);
}

.paragraph p {
    text-align: left;
    margin: 30px 50px 30px 50px;
}

.paragraph h2 {
    text-align: center;
}

.whole {
    background-color: #9847b3;
    height: 307px;
    width: 1350px;
}

.whole h2{
    text-align: center;
    padding: auto auto auto;
}

.whole .paragraph {
    margin-top: 75px;
}

.separator {
    height: 10px; /* Adjust height as needed */
    background-color: #9847b3; /* Adjust background color as needed */
    margin: 10px 0; /* Adjust margin as needed */
  }